/*CSS US HERE */

#sumbit_this{
    background-color: blue;
    color: red;
}

#full_content{
    
    background-color: antiquewhite;
}

#content_cell{
    background-color: cadetblue;
}

#sec_color{
    background-color:aquamarine;
}
#footer_{
    background-color: antiquewhite;
}